@import "_value.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  max-width: 1920px;
  color: white;
  background-color: #0b1d26;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.accent-color {
  color: $accent-color;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  h1 {
    text-transform: uppercase;
  }
  ul {
    display: flex;
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

main {
  .rectangle {
    display: inline-block;
    width: 72px;
    height: 2px;
    background-color: black;
    transform: translate(0, -200%);

    background-color: $accent-color;
  }

  .hero {
    width: 100%;
    height: 100vh;
    z-index: -1;
    .pic-sky {
      width: 100%;
      position: absolute;
      top: -50px;
      left: 0;

      z-index: -30;
    }
    .pic-mountain {
      width: 100%;
      position: absolute;
      top: 50vh;
      left: 0;
      z-index: -20;
    }
    .pic-hill {
      width: 100%;
      position: absolute;
      top: 90vh;
      left: 0;
    }
    .pic-filter {
      width: 100%;
      position: absolute;
      top: -50px;
      left: 0;
      z-index: -10;
    }
    .hero-title {
      max-width: 800px;
      position: absolute;
      top: 40vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      span {
        &:first-child {
          text-transform: uppercase;
        }
      }
      h2 {
        font-size: 68px;
        width: 100%;
        margin: 10px 0;
      }
    }

    .left-bar,
    .right-bar {
      z-index: 100;
      background-color: red;
    }
  }

  .content-picture {
    width: 200px;
    height: 200px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  .mntn,
  .more {
    display: flex;
  }
}
